{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li class="nav-item{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}{{#if ./items.length}} parent{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./items.length}}
    <button class="nav-item-toggle mask-svg-center"></button>
    {{/if}}
    {{#if ./url}}
      {{#if ./items.length}}
        <span>
      {{/if}}
    <a 
      {{#if ./items.length}}
       class="nav-link nav-link-with-toggle"
      {{else}}
       class="nav-link"
      {{/if}}
     href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
      {{#if ./items.length}}
        </span>
      {{/if}}
    {{else}}
    <span class="nav-text">{{{./content}}}</span>
    {{/if}}
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
